In [1]:
import pandas as pd

In [ ]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
Citibike_df = pd.read_csv('NYC_CitiBike_Original_StarterCode/201908-citibike-tripdata.csv')
Citibike_df.head()

In [4]:
# 2. Check the datatypes of your columns. 
Citibike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [5]:
# 3. Convert the 'tripduration' column to datetime datatype.
Citibike_df['tripduration'] = pd.to_datetime(Citibike_df['tripduration'], unit='s')

Citibike_df['Trip Duration'] = Citibike_df['tripduration'].dt.strftime('%H:%M:%S')

In [6]:
# 4. Check the datatypes of your columns. 
Citibike_df.dtypes

tripduration               datetime64[ns]
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
Trip Duration                      object
dtype: object

In [7]:
# 5. Export the Dataframe as a new CSV file without the index.
# ----------------
# Some Other stuff performed first ↓↓↓

In [7]:
Citibike_df.starttime = pd.to_datetime(Citibike_df.starttime)
Citibike_df.stoptime = pd.to_datetime(Citibike_df.stoptime)

In [8]:
Citibike_df['Age'] = 2019 - Citibike_df['birth year']
Citibike_df['Age'].max()
# Say what!?

134

In [9]:
Citibike_df = Citibike_df.rename(columns={'starttime':'Start Time','stoptime':'Stop Time','start station id':'Start Station ID', 'start station name':'Start Station Name','start station latitude':'Start Station Latitude','start station longitude':'Start Station Longitude','end station id':'End Station ID','end station name':'End Station Name','end station latitude':'End Station Latitude','end station longitude':'End Station Longitude','bikeid':'Bike ID', 'usertype':'User Type','gender':'Gender'})
Citibike_df.head()

,tripduration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,birth year,Gender,Trip Duration,Age
0,1970-01-01 00:06:33,2019-08-01 00:00:01.468,2019-08-01 00:06:35.378,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2,00:06:33,23
1,1970-01-01 00:10:27,2019-08-01 00:00:01.929,2019-08-01 00:10:29.784,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2,00:10:27,21
2,1970-01-01 00:18:52,2019-08-01 00:00:04.048,2019-08-01 00:18:56.165,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1,00:18:52,31
3,1970-01-01 00:29:40,2019-08-01 00:00:04.163,2019-08-01 00:29:44.794,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1,00:29:40,31
4,1970-01-01 00:25:17,2019-08-01 00:00:05.458,2019-08-01 00:25:23.455,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2,00:25:17,54

In [10]:
Citibike_df = Citibike_df.drop(columns=['tripduration', 'birth year'])
Citibike_df.head()

,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Gender,Trip Duration,Age
0,2019-08-01 00:00:01.468,2019-08-01 00:06:35.378,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,2,00:06:33,23
1,2019-08-01 00:00:01.929,2019-08-01 00:10:29.784,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,2,00:10:27,21
2,2019-08-01 00:00:04.048,2019-08-01 00:18:56.165,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1,00:18:52,31
3,2019-08-01 00:00:04.163,2019-08-01 00:29:44.794,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1,00:29:40,31
4,2019-08-01 00:00:05.458,2019-08-01 00:25:23.455,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,2,00:25:17,54

In [11]:
Citibike_df = Citibike_df[['Trip Duration','Start Time',
 'Stop Time',
 'Start Station ID',
 'Start Station Name',
 'Start Station Latitude',
 'Start Station Longitude',
 'End Station ID',
 'End Station Name',
 'End Station Latitude',
 'End Station Longitude',
 'Bike ID',
 'User Type',
 'Gender',
 'Age']]
Citibike_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Gender,Age
0,00:06:33,2019-08-01 00:00:01.468,2019-08-01 00:06:35.378,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,2,23
1,00:10:27,2019-08-01 00:00:01.929,2019-08-01 00:10:29.784,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,2,21
2,00:18:52,2019-08-01 00:00:04.048,2019-08-01 00:18:56.165,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1,31
3,00:29:40,2019-08-01 00:00:04.163,2019-08-01 00:29:44.794,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1,31
4,00:25:17,2019-08-01 00:00:05.458,2019-08-01 00:25:23.455,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,2,54

In [12]:
Citibike_df.to_csv('NYC_CitiBike_Challenge.csv')